body {
  margin: 0;
}

video, img {
  display: block;
  outline: none;
}

hr {
  border: none;
  background: #cccccc;
  height: 2px;
}

q {
  quotes: "\00AB\00A0" "\00A0\00BB" "\2039\00A0" "\00A0\203A";
}

/* ==========================================================================
 * HTML5 display definitions
 * ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

/* ==========================================================================
 * Typography
 * ========================================================================== */
b,
strong {
  font-weight: bold;
}

/* ==========================================================================
 * Forms
 * ========================================================================== */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

/* ==========================================================================
 * Tables
 * ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:focus {
  outline: 0;
}

::-moz-selection {
  background: #57b0bd;
  color: white;
}

::selection {
  background: #57b0bd;
  color: white;
}

html, body {
  min-height: 100%;
}

body {
  background: #fafafa;
}

fieldset {
  padding: 20px 20px;
  border-color: #eeeeee;
  border-style: solid;
  border-width: 1px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

.img-left {
  float: left;
  margin-right: 2em;
  margin-bottom: 1em;
}

.img-right {
  float: right;
  margin-left: 2em;
  margin-bottom: 1em;
}

.multi-col-50-50 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.multi-col-50-50 .col-1 {
  width: 50%;
  float: left;
}
.multi-col-50-50 .col-2 {
  width: 50%;
  float: right;
}

.multi-col-30-30-30 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.multi-col-30-30-30 .col-1 {
  width: 33%;
  float: left;
}
.multi-col-30-30-30 .col-2 {
  width: 34%;
  float: left;
}
.multi-col-30-30-30 .col-3 {
  width: 33%;
  float: left;
}

.clearit {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  clear: both !important;
  float: none !important;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
  clear: both;
}

.footer {
  margin: 0px auto;
  width: 100%;
}

.width-wrap {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.inner-width-wrap {
  padding: 20px 20px;
}

.main-content img {
  max-width: 100%;
}

.page-wrap {
  padding: 20px 20px;
}

body {
  font-size: 16px;
  line-height: 1.8em;
  font-family: "Droid Sans", helvetica;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Inika", helvetica, sans-serif;
  padding: 0.3em 0;
  margin: 0;
  line-height: 1.4em;
}

h1, h2 {
  color: #57b0bd;
}

h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.12em;
}

h3 {
  font-size: 1.88em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

a {
  color: #57b0bd;
}
a:hover {
  color: #57b0bd;
}

p img {
  margin-top: 0.5em;
}

p a, ul a, ol a {
  text-decoration: none;
}
p a:hover, ul a:hover, ol a:hover {
  text-decoration: underline;
}

legend {
  color: #888888;
  font-weight: bold;
}

button, .btn, .button, input[type="button"], input[type="submit"], input[type="reset"] {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0 1em;
  cursor: pointer;
  line-height: 2.6rem;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  text-align: center;
  text-decoration: none;
  background: #57b0bd;
  border: 1px solid #358e9b;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
button:hover, .btn:hover, .button:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
  text-decoration: none;
  color: white;
  background: #358e9b;
}
button a, .btn a, .button a, input[type="button"] a, input[type="submit"] a, input[type="reset"] a {
  text-decoration: none;
}
button:disabled, button.passive, .btn:disabled, .btn.passive, .button:disabled, .button.passive, input[type="button"]:disabled, input[type="button"].passive, input[type="submit"]:disabled, input[type="submit"].passive, input[type="reset"]:disabled, input[type="reset"].passive {
  background: #dddddd;
  border: 1px solid #cccccc;
  cursor: default;
}

button, .btn, .button, input[type="button"], input[type="submit"], input[type="reset"] {
  margin: 1em 0;
}

input[type="text"], input[type="date"], input[type="password"], input[type="search"], textarea {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  background: #fefefe;
  border-radius: 6px;
  padding: 0.3em 2%;
  font-size: 1em;
  line-height: 1.5em;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
input[type="text"]:disabled, input[type="date"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, textarea:disabled {
  background: #ededed;
  color: #666666;
}
input[type="text"]:focus, input[type="date"]:focus, input[type="password"]:focus, input[type="search"]:focus, textarea:focus {
  border-color: #aaaaaa;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background: white;
}

textarea {
  resize: vertical;
}

blockquote {
  padding: 0 0 0 2.5em;
  margin: 2em 0;
  border-left: 1px solid #cccccc;
  font-style: italic;
}

pre {
  background: white;
  border: 4px solid #cccccc;
  padding: 20px;
  overflow: scroll;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8) inset;
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8) inset;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8) inset;
}
pre code {
  background: transparent;
}

code {
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
  background: white;
  padding: 0.1em 0.2em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

table {
  width: 100%;
}

body {
  position: absolute;
  width: 100%;
}

p {
  color: #333333;
}

#body-inner {
  min-height: 100%;
  position: relative;
}

h1, h2, h3 {
  font-weight: normal;
  color: #333333;
}
h1 a, h2 a, h3 a {
  color: #333333;
}

h1, h2 {
  text-align: center;
}

h3 {
  text-align: left;
}

hr {
  height: 1px;
  background-color: #e3dac8;
}

img {
  max-width: 100%;
}

header {
  padding-bottom: 44px;
  overflow-x: scroll;
  background: #faf9f4 url("../images/noise.png");
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 800px) {
  header {
    border-bottom: 2px solid #d2c9b7;
  }
}
@media screen and (min-width: 800px) {
  header {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 320px;
    border-right: 2px solid #d2c9b7;
    z-index: 10;
  }
}
header h1 {
  padding: 0;
}
header h1 a img {
  padding: 40px;
  display: block;
  max-width: 238px;
  margin: 0 auto;
}
header ul#nav {
  padding: 0;
  margin: 0;
  list-style: none;
  border-bottom: 1px solid #e1dcd9;
}
header ul#nav li a, header ul#nav nav.submenu li a {
  color: #333333;
  display: block;
  font-size: 18px;
  font-family: "Inika", helvetica, sans-serif;
  font-weight: normal;
  padding: 0.7em 40px;
  padding-bottom: 8px;
  border-top: 1px solid #e1dcd9;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.4);
}
header ul#nav li:hover a, header ul#nav nav.submenu li:hover a {
  background: white;
  color: #469fac;
  text-decoration: none;
}
header ul#nav li.active a, header ul#nav nav.submenu li.active a {
  background: #57b0bd;
  color: white;
  border-top: 1px solid #358e9b;
  border-bottom: 1px solid #358e9b;
}

section#main {
  position: relative;
}
@media screen and (min-width: 800px) {
  section#main {
    margin-left: 320px;
  }
}
section#main img {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
section#main article {
  border-bottom: 1px solid #e3dac8;
  margin: 0;
  position: relative;
}
section#main article iframe.twitter-timeline-rendered {
  width: 100% !important;
  position: static !important;
}
section#main article aside {
  font-weight: bold;
  font-size: 0.8em;
  font-weight: normal;
  font-size: 0.8em;
  border-top: 1px solid #b0a795;
  padding-top: 1em;
  color: #57b0bd;
}
section#main article h2 {
  padding-top: 0;
}
section#main article h2 a {
  text-decoration: none;
}
section#main article .main-width-wrap,
section#main footer .main-width-wrap {
  padding: 40px;
  max-width: 600px;
  min-width: 320px;
  margin: 0 auto;
}

footer {
  bottom: 22px;
  background: #faf9f4 url("../images/noise.png");
  border-bottom: 1px solid #e3dac8;
}
